<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <NUnit>
    <NumberOfTestWorkers>3</NumberOfTestWorkers>
    <Timeout>180000</Timeout>
  </NUnit>

  <TestRunParameters>
    <Parameter name="ENV" value="Automation" />
	  <Parameter name="BaseUrl_NOR" value="https://mas-aut-publicnorlrg.dev.360online.com/" />
	  <Parameter name="BaseUrl_FIN" value="https://mas-aut-publicfin.dev.360online.com/" />
	  <Parameter name="BaseUrl_DAN" value="https://mas-aut-publicdan.dev.360online.com/" />
	  <Parameter name="BaseUrl_FFUI" value="https://mas-aut-publicnorlrg1.dev.360online.com/" />
    <Parameter name="Browser" value="chrome" />
	<Parameter name="Incognito" value="true" />
    <Parameter name="Headless" value="false" />
    <Parameter name="SlowMo" value="0" />
    <Parameter name="Timeout" value="60000" />
    <Parameter name="RetryCount" value="3" />
    <Parameter name="ScreenshotOnFailure" value="false" />
    <Parameter name="VideoOnFailure" value="false" />
    <Parameter name="ViewportWidth" value="1920" />
    <Parameter name="ViewportHeight" value="1080" />
    <Parameter name="StartMaximized" value="true" />


	  <Parameter name="CloudUser1UserName" value="testuser1@test.p360o.com" />
	  <Parameter name="CloudUser1Password" value="TestPass1!" />
	  <Parameter name="CloudUser2UserName" value="testuser2@test.p360o.com" />
	  <Parameter name="CloudUser2Password" value="TestPass2!" />
	  <Parameter name="CloudUser3UserName" value="testuser3@test.p360o.com" />
	  <Parameter name="CloudUser3Password" value="TestPass3!" />
	  <Parameter name="CloudUser4UserName" value="testuser4@test.p360o.com" />
	  <Parameter name="CloudUser4Password" value="TestPass4!" />
	  <Parameter name="CloudUser5UserName" value="testuser5@test.p360o.com" />
	  <Parameter name="CloudUser5Password" value="TestPass5!" />
	  <Parameter name="CloudUser6UserName" value="testuser6@test.p360o.com" />
	  <Parameter name="CloudUser6Password" value="TestPass6!" />
	  <Parameter name="CloudUser7UserName" value="testuser7@test.p360o.com" />
	  <Parameter name="CloudUser7Password" value="TestPass7!" />
	  <Parameter name="CloudUser8UserName" value="testuser8@test.p360o.com" />
	  <Parameter name="CloudUser8Password" value="TestPass8!" />
	  <Parameter name="CloudUser9UserName" value="testuser9@test.p360o.com" />
	  <Parameter name="CloudUser9Password" value="TestPass9!" />
	  <Parameter name="CloudUser10UserName" value="testuser10@test.p360o.com" />
	  <Parameter name="CloudUser10Password" value="TestPass10!" />

  </TestRunParameters>

  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="true">
        <Configuration>
          <Verbosity>normal</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="true">
        <Configuration>
          <LogFileName>prod-results.trx</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>

</RunSettings>
